.container {
    display: flex;  
}

.input-area {
    flex: 1;
}

.input-container{
    padding: 20px;
}

.input-container > header{
    padding-bottom: 10px;
    font-size: 20px;
}

.input-field {
    border-radius: 12px;
    padding: 10px;
}

.text-area {
    flex: 1;
    text-align: left;
    justify-content: center;
    padding-left: 200px;
}

.insta-button {
    border-radius: 10px;
    background: linear-gradient(145deg, #3051F1 10%, #C92BB7 70%) no-repeat;
    padding: 15px;
}

.linkedin-button {
    border-radius: 10px;
    background-color: blue;
    padding: 20px;
}

.github-button {
    border-radius: 10px;
    background-color: blue;
    padding: 20px;
}