.contact-container {
    display: flex;  
}

.contact-title {
    font-size: 50px;
    padding-bottom: 20px;
}

.email-container {
    
}

.input-area {
    flex: 1;
}

.input-container {
    
}

.input-container > header {
    padding: 10px;
    font-size: 20px;
}

.input-field {
    border-radius: 12px;
    padding: 20px;
}

.text-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.insta-button {
    border-radius: 10px;
    background: linear-gradient(145deg, #3051F1 10%, #C92BB7 70%) no-repeat;
    padding: 15px;
    margin: 10px 0px 10px 0px;
}

.insta-button:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.insta-logo {
    width: 200px;
    height: auto;
    mix-blend-mode: darken;
}

.linkedin-button {
    border-radius: 10px;
    background-color: white;
    margin: 10px 0px 10px 0px;
}

.linkedin-button:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.linkedin-logo {
    width: 220px;
    height: auto;
    mix-blend-mode: darken;
}

.github-button {
    border-radius: 10px;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}

.github-button:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.github-logo {
    width: 235px;
    height: auto;
    mix-blend-mode: multiply;
}