.home-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.intro-text {
    font-size: 50px;
    color: white;
    flex: 1.5;
}

.intro-text-paragraph {
    font-size: 30px;
    animation: fadeInIntroParagraph 5s;
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 20px;
}

.pfp-container {
    flex: 1;
}

.name-text {
    font-family: cursive;
}

@keyframes fadeInIntroParagraph {
    0% { opacity: 0; }
    50% {opacity: 0;}
    100% { opacity: 1; }
}