.grid-container {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px;
}

.grid-container > div > img {
    height: 70px;
    width: auto;
}

.skills-header {
    font-size: 30px;
    padding-top: 30px;
}

@media screen and (max-width: 768px) {
    .grid-container{
        display: block;
    }
    .grid-container > div > img {
        padding: 20px;
    }
}