.grid-container {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px;
}

.python-img {
    filter: brightness(1.25);  
}

.java-img {
    width: 200px;
    height: auto;
}
.typescript-img {
    width: 200px;
    height: auto;
}

.react-img {
    width: 200px;
    height: auto;
}