.nav-container {
    justify-content: center;
    display: flex;
    padding: 10px;
    padding-bottom: 25px;
}

.non-selected {
    font-size : 20px;
    color:white;
    background: transparent;
    transition-duration: 0.5s;
    border: white;
    padding: 10px 20px 10px 20px;
    margin: 5px;
}

.selected {
    font-size : 20px;
    color: rgb(0,0,56);
    background-color: white;
    transition-duration: 0.5s;
    border: white;
    padding: 10px 20px 10px 20px;
    margin: 5px;
}

.nav-container > button:hover {
    background-color: white;
    color: rgb(0,0,56);
}