.nav-container {
    justify-content: center;
    display: flex;
    padding: 10px;
}

.nav-container > button {
    font-size : 20px;
    color:white;
    background-color: red;
    transition-duration: 0.5s;
    border: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 5px;
}

.nav-container > button:hover {
    background-color: white;
    color:red;
}