html, body {
  height:100%;
} 

.app-container {
  background: rgb(0,0,0);
  height: 100vh;
  text-align: center;
  justify-content: center;
  font-family: serif;
  color: white;
}

.page-header::before {
  color:red
}

